<div class="sticky-top ">
  <nav class="navbar navbar-expand-lg navbar-light d-flex justify-content-around p-3" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">Project Manager</a>
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Project Name..." aria-label="Search">
      <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
    </form>
  </nav>
</div>